body {
    background-color: aqua;
    width: 1000px;
    margin: auto;

}

header {

    background-color: #606060FF;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;

    vertical-align: middle;

}

footer {

    background-color: #606060FF;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;

    vertical-align: middle;

}

h1 {

    font-family: cursive;
    font-size: 40px;
    font-weight: bold;
    color: #D6ED17FF;
    margin-top: 10px;
    text-align: center;


}

h6 {

    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    color: #D6ED17FF;
    margin-top: 3px;
    text-align: center;
}

#artistName{
    
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    color: #606060;
    margin-top: 3px;
    text-align: center;
    
}

h2{
    
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    color: #606060;
    margin-top: 3px;
    text-align: center;
    
}
